* {
    margin: 0;
    padding: 0;
}

/*#container {
    overflow: hidden;
}
*/

#slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slide 30s infinite;
}

figure {
    position: relative;
}